[Unit]              
SourcePath=/etc/init.d/devpts.sh
Description=LSB: A sysV mount and populate dev folder script
After=systemd-udevd.service 
After=populate-volatile.service
Before=dmesg.service                
Before=multi-user.target

[Service]       
Type=forking
Restart=no
TimeoutSec=5min
IgnoreSIGPIPE=no
KillMode=process
GuessMainPID=no
RemainAfterExit=yes
ExecStart=/etc/init.d/devpts.sh

[Install]
WantedBy=multi-user.target
