[Unit]              
SourcePath=/etc/init.d/usb
Description=LSB: A sysV android usb gadget script
After=basic.target 
After=read-only-rootfs-hook.service
After=checkroot.service
After=bootlogd.service
Before=find_partitions.service                
Before=multi-user.target

[Service]       
Type=forking		
Restart=no		
TimeoutSec=5min		
IgnoreSIGPIPE=no		
KillMode=process		
GuessMainPID=no		
RemainAfterExit=yes		
ExecStart=/etc/init.d/usb start
ExecStop=/etc/init.d/usb stop

[Install]
WantedBy=multi-user.target
